/*

!/.gitignore
!/src
!/Cargo.toml
!/Cargo.lock
!/pyproject.toml
!/python
!/test_graphlib.py
!/bench.ipynb
!/requirements-dev.txt
!/requirements-bench.txt
!/.pre-commit-config.yaml
!/Makefile
!/README.md
!/.github
!/LICENSE.txt
!/large_branched_dag.json

__pycache__
*.so