[package]
name = "graphlib2"
version = "0.1.2"
edition = "2018"
description = "Rust port of the Python stdlib graphlib modules"
readme = "README.md"
license-file = "LICENSE.txt"

[lib]
name = "graphlib2"
crate-type = ["cdylib"]

[dependencies.pyo3]
version = "0.15.1"
features = ["extension-module", "abi3-py37"]

[dependencies.pyo3-build-config]
version = "0.15.1"

[dependencies]
nohash-hasher = "0.2.0"
seahash = "4.1.0"

[package.metadata.maturin]
python-source = "python"
description-content-type = "text/markdown; charset=UTF-8; variant=GFM"
